.page-header
  %h1= t '.about'
  %p= t '.about_book_multiplier'
  %address
    %strong= t :bureau_pels
    %br
    = raw(t(:bureau_pels_street))
    %br
    = raw(t(:bureau_pels_zipcode))
    &nbsp;&nbsp;
    = raw(t(:bureau_pels_place))
    %br
    %br
    %abbr{title: t('.telephone')}
      T:&nbsp;
      =t :bureau_pels_phone
    %br
    %abbr{title: t('.email')}
      E:&nbsp;
      = mail_to t(:bureau_pels_info_at), t(:bureau_pels_info_at), :subject => "#{t('.inforequest')} on #{l(Time.new, :format => "%Y-%m-%d %H:%M")}"

